{% extends 'base.html' %}

{% block head %}
    <title>Dashboard Ucznia</title>
{% endblock %}

{% block body %}
<div class="content">
    <a href="{{ url_for('logout') }}">Wyloguj się</a>

    <h1>Witaj, {{ current_user.name }} {{ current_user.surname }}! (Uczeń)</h1>

    <h2>Twoje zadania:</h2>
    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.content }}</strong><br>
                <em>Przypisane przez: {{ task.teacher.name }} {{ task.teacher.surname }}</em><br>
                <em>Status: {% if task.completed %}Zakończone{% else %}Do wykonania{% endif %}</em><br>
                <em>Termin wykonania: {{ task.due_date.strftime('%Y-%m-%d') }}</em><br>
                <em>Maksymalna ilość punktów: {{ task.max_points }}</em><br>
                {% if not task.completed %}
                    <form method="POST" action="{{ url_for('mark_task_completed', task_id=task.id) }}">
                        <textarea name="answer" placeholder="Twoja odpowiedź..." required></textarea>
                        <button type="submit">Zakończ zadanie</button>
                    </form>
                {% endif %}
                {% if task.completed %}
                    <p><strong>Odpowiedź na zadanie:</strong> {{ task.answer }}</p>
                    <p><strong>Data wysłania odpowiedzi:</strong> {{ task.sent_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    {% if task.due_date and task.sent_date > task.due_date %}
                        <p style="color: red;"><strong>Przekroczono termin oddania!</strong></p>
                    {% endif %}
                    {% if task.grade %}
                        <p><strong>Ocena: </strong>{{ task.grade }}</p>
                    {% else %}
                        <p>Prowadzący jeszcze nie wystawił oceny. Opierdala sie</p>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
