{% extends 'base.html' %}

{% block head %}
    <title>Dashboard Nauczyciela</title>
{% endblock %}

{% block body %}
<div class="content">
    <a href="{{ url_for('logout') }}">Wyloguj się</a>

    <h1>Witaj, {{ current_user.name }} {{ current_user.surname }}! (Nauczyciel)</h1>

    <h2>Przypisz nowe zadanie</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            <label for="content">Treść zadania:</label>
            {{ form.content(class="form-control") }}
        </div>
        <div>
            <label for="student_id">Wybierz ucznia:</label>
            {{ form.student_id(class="form-control") }}
        </div>
        <div>
            <label for="due_date">Termin wykonania:</label>
            {{ form.due_date(class="form-control") }}
        </div>
        <div>
            <label for="max_points">Maksymalna ilość punktów:</label>
            {{ form.max_points(class="form-control") }}
        </div>
        <div>
            <button type="submit">Przypisz zadanie</button>
        </div>
    </form>

    <h2>Lista przypisanych zadań:</h2>
    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.content }}</strong><br>
                <em>Przypisane przez: {{ task.teacher.name }} {{ task.teacher.surname }}</em><br>
                <em>Uczeń: {{ task.student.name }} {{ task.student.surname }}</em><br>
                <em>Termin wykonania: {{ task.due_date.strftime('%Y-%m-%d') }}</em><br>
                <em>Maksymalna ilość punktów: {{ task.max_points }}</em><br>
                <em>Status: {% if task.completed %}Zakończone{% else %}Do wykonania{% endif %}</em><br>
                {% if task.completed %}
                    <p><strong>Odpowiedź ucznia:</strong> {{ task.answer }}</p>
                    {% if task.due_date and task.sent_date > task.due_date %}
                            <p style="color: red;"><strong>Przekroczono termin oddania!</strong></p>
                    {% endif %}
                    {% if task.file_path %}
                        <p>Załącznik: <a href="{{ url_for('uploaded_file', filepath=task.file_path.split('uploads/')[1]) }}">Pobierz</a></p>
                    {% endif %}
                    {% if task.grade %}
                        <p><strong>Ocena: </strong>{{ task.grade }}</p>
                    {% else %}
                    <form method="POST" action="{{ url_for('grade_task', task_id=task.id) }}">
                        <div>
                            <label for="grade">Ocena: </label>
                            {{ form.grade(class="form-control") }}
                        </div>
                        <div>
                            <button type="submit">Zatwierdź ocene</button>
                        </div>
                    </form>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
